[submodule "BHInstagram"]
	path = BHInstagram
	url = https://github.com/tylerweitzman/BHInstagram
[submodule "BHTikTok"]
	path = BHTikTok
	url = https://github.com/tylerweitzman/BHTikTok
[submodule "TikTokPlusPlus"]
	path = TikTokPlusPlus
	url = https://github.com/tylerweitzman/TikTokPlusPlus
[submodule "SCInsta/modules/libflex/FLEX"]
	path = SCInsta/modules/libflex/FLEX
	url = https://github.com/FLEXTool/FLEX
